@using Allup.ViewModels;
@{
    ShopViewModel shopViewModel = Model;
    var products = shopViewModel.Products;
    var brands = shopViewModel.Brands;
    var banners = shopViewModel.Banners;
}

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                <li class="breadcrumb-item active">Shop</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Shop Left sidebar Part Start ======-->

<section class="shop-area pt-20">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-header">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="shop-header-left d-flex flex-wrap align-items-center">
                                <div class="shop-header-icon">
                                    <ul class="nav" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="active" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="true"><i class="icon ion-grid show_grid"></i></a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="icon ion-android-menu show_list"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-header-message">
                                    <p>Showing 1 to 9 of 15 (2 Pages)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="shop-header-right d-flex flex-wrap align-items-center justify-content-sm-end">
                                <div class="shop-header-select d-flex flex-wrap">
                                    <span class="select-title">Show:</span>
                                    <select>
                                        <option value="1">10</option>
                                        <option value="2">20</option>
                                        <option value="3">30</option>
                                        <option value="4">40</option>
                                    </select>
                                </div>
                                <div class="shop-header-select">
                                    <span class="select-title">Sort By:</span>
                                    <select>
                                        <option value="1">Default</option>
                                        <option value="2">Name (A-Z)</option>
                                        <option value="3">Price (min - max)</option>
                                        <option value="4">Color</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- shop header -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                        <div class="row">
                            @foreach(var product in products)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-product mt-30">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img class="first-image" src="~/@product.ImageUrl" alt="product">
                                                <img class="second-image" src="~/@product.SecondImageUrl" alt="product">
                                            </a>
                                            @if(product.Discount < 0)
                                            {
                                                <span class="discount-product">@product.Discount%</span>
                                            }
                                            <ul class="product-meta">
                                                <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                            <ul class="product-rating">
                                                @for(var i=0; i < 5; i++)
                                                {
                                                    <li><i class="fas fa-star @product.Rating"></i></li>
                                                }
                                            </ul>
                                            <div class="product-price">
                                                @if(product.RegularPrice > 0)
                                                {
                                                    <span class="regular-price">€@product.RegularPrice</span>
                                                }
                                                <span class="price-sale">€@product.SalePrice</span>
                                            </div>
                                        </div>
                                    </div> <!-- single product -->
                                </div>
                            }
                        </div> <!-- row -->
                    </div>
                    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="single-product-list mt-30">
                            @foreach(var product in products)
                            {
                                <div class="row">
                                    <div class="col-sm-5 col-xl-3">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                <img class="first-image" src="~/@product.ImageUrl" alt="product">
                                                <img class="second-image" src="~/@product.SecondImageUrl" alt="product">
                                            </a>
                                            @if(product.Discount < 0)
                                            {
                                                <span class="discount-product">@product.Discount%</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-xl-9">
                                        <div class="product-content">
                                            <ul class="product-rating">
                                                @for (var i = 0; i < 5; i++)
                                                {
                                                    <li><i class="fas fa-star @product.Rating"></i></li>
                                                }
                                            </ul>
                                            <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                            <span class="availability">Availability: 299 In Stock</span>
                                            <div class="product-price">
                                                @if(product.RegularPrice > 0)
                                                {
                                                    <span class="regular-price">€@product.RegularPrice</span>
                                                }
                                                <span class="price-sale">€@product.SalePrice</span>
                                            </div>
                                            <p> @product.Description</p>
                                            <ul class="product-meta">
                                                <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div> <!-- single product List -->
                    </div>
                </div> <!-- Tab Content -->

                <ul class="pagination justify-content-center mt-30">
                    <li><a href="#"><i class="fal fa-chevron-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fal fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Shop Left sidebar Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            @foreach(var brand in brands)
            {
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a href="#">
                            <img src="~/@brand.ImageUrl" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
            }
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            @foreach(var banner in banners)
            {
                <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/@banner.IconUrl" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">@banner.Title</h3>
                        <p>@banner.Description</p>
                    </div>
                </div> <!-- single features banner -->
            }
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->
<!--====== Newsletter Part Start ======-->